*.md
.strict-typing
ourfinances/components/*/translations/*.json
ourfinances/generated/*
tests/components/lidarr/fixtures/initialize.js
tests/components/lidarr/fixtures/initialize-wrong.js
tests/fixtures/core/config/yaml_errors/
